In [1]:
coordinates = {(1,2):'A', (3,4):'B'}

In [2]:
coordinates

{(1, 2): 'A', (3, 4): 'B'}

In [3]:
coordinates[(1,2)]

'A'

In [4]:
students = [
    {'name':'Alice', 'age':20},
    {'name':'Bob', 'age':21}
]

In [5]:
type(students)

list

In [6]:
students[0]

{'name': 'Alice', 'age': 20}

In [7]:
students[1]['name']

'Bob'

In [8]:
user_permissions = {
    'user1': {'read', 'write'},
    'user2': {'read'}
}

In [9]:
type(user_permissions)

dict

In [10]:
user_permissions['user1']

{'read', 'write'}

In [11]:
user_permissions['user1'].add('execute')
user_permissions['user1']

{'execute', 'read', 'write'}

In [12]:
employees = [
    {'name': 'Alice', 'department': 'HR'},
    {'name': 'Bob', 'department': 'IT'}
]

In [13]:
for employee in employees:
    print(employee['name'], employee['department'])

Alice HR
Bob IT

In [14]:
department_employess = {
    'HR': ['Alice', 'Bob'],
    'IT': ['Tom', 'Jane']
}

In [15]:
for department, employees in department_employess.items():
    print(department, employees)

HR ['Alice', 'Bob']
IT ['Tom', 'Jane']

In [16]:
for department, employees in department_employess.items():
    print(department, len(employees))

HR 2
IT 2

In [17]:
company = {
    'HR': {'manager': 'Alice', 'employees': 5},
    'IT': {'manager': 'Bob', 'employees': 10}
}

In [18]:
company['HR']['manager']

'Alice'

### Exercise

### Exercise 1

In [19]:
books=[
    {'title':'Book1','author':'Author1','genre':'Fiction'},
    {'title':'Book2','author':'Author2','genre':'Non-Fiction'}
]

authors={
    'Author1': {'Book1'},
    'Author2': {'Book2'}
}

genres={
    'Fiction': {'Book1'},
    'Non-Fiction': {'Book2'}
}

In [20]:
#Add a new book with its author and genre
new_book = {'title': 'Book3', 'author': 'Author1', 'genre': 'Fiction'}
books.append(new_book)
books

[{'title': 'Book1', 'author': 'Author1', 'genre': 'Fiction'},
 {'title': 'Book2', 'author': 'Author2', 'genre': 'Non-Fiction'},
 {'title': 'Book3', 'author': 'Author1', 'genre': 'Fiction'}]

In [21]:
# Update the authors and genres dictionaries

# Update the authors dictionary
if new_book['author'] in authors:
    authors[new_book['author']].add(new_book['title'])
else:
    authors[new_book['author']] = {new_book['title']}

# Update the genres dictionary
if new_book['genre'] in genres:
    genres[new_book['genre']].add(new_book['genre'])
else:
    genres[new_book['genre']] = {new_book['genre']}

In [22]:
authors

{'Author1': {'Book1', 'Book3'}, 'Author2': {'Book2'}}

In [23]:
genres

{'Fiction': {'Book1', 'Fiction'}, 'Non-Fiction': {'Book2'}}

In [24]:
fiction_books = genres.get('Fiction', set())
print("Books under 'Fiction':", fiction_books)

Books under 'Fiction': {'Book1', 'Book3'}

### Exercise 2

In [24]:
sales=[
    {'product':'Product1','region':'North','sales': 100},
    {'product':'Product2','region':'South','sales': 150}
]

region_sales={
    'North': {'Product1': 100},
    'South': {'Product2': 150}
}

In [25]:
new_sales_record = {'product':'Product3','region':'South','sales': 200}
sales.append(new_sales_record)
sales

[{'product': 'Product1', 'region': 'North', 'sales': 100},
 {'product': 'Product2', 'region': 'South', 'sales': 150},
 {'product': 'Product3', 'region': 'South', 'sales': 200}]

In [26]:
# Update the region_sales dictionary to include the new sales data 
region = new_sales_record['region']
product = new_sales_record['product']
sales_amount = new_sales_record['sales']

if region not in region_sales:
    region_sales[region] = {product: sales_amount}
else:
    region_sales[region][product] = sales_amount

In [27]:
region_sales

{'North': {'Product1': 100}, 'South': {'Product2': 150, 'Product3': 200}}

In [28]:
# Calculate the total sales for each region

total_sales_by_region = {}

for region, products in region_sales.items():
    total_sales_by_region[region] = sum(products.values())

total_sales_by_region

{'North': 100, 'South': 350}

### Exercise 3

In [29]:
students=[
    {'name':'Alice','grades': {'Math':'A','Science':'B'}},
    {'name':'Bob','grades': {'Math':'B','Science':'A'}}
]

subjects={
    'Math': ['Alice','Bob'],
    'Science': ['Alice','Bob']
}

In [30]:
# Add a new student with their grades to the studentslist
new_student = {'name': 'Charlie', 'grades': {'Math': 'A', 'Science': 'C'}}
students.append(new_student)

In [31]:
students

[{'name': 'Alice', 'grades': {'Math': 'A', 'Science': 'B'}},
 {'name': 'Bob', 'grades': {'Math': 'B', 'Science': 'A'}},
 {'name': 'Charlie', 'grades': {'Math': 'A', 'Science': 'C'}}]

In [32]:
# Update the subjects dictionary to include the new student

for subject in new_student['grades']:
    if subject in subjects:
        subjects[subject].append('Charlie')
    else:
        subjects[subject] = ['Charlie']

In [33]:
subjects

{'Math': ['Alice', 'Bob', 'Charlie'], 'Science': ['Alice', 'Bob', 'Charlie']}

In [35]:
#  Print the list of all students and their grades for ‘Math’
for student in students:
    print(f"{student['name']} - Math Grades : {student['grades']['Math']}")

Alice - Math Grades : A
Bob - Math Grades : B
Charlie - Math Grades : A